<header class="">
    <nav class="flex items-center justify-between p-4">
        <div class="logo">
            <img src="/assets/img/discord-logo.svg" alt="Discord Logo" class="invert">
        </div>
        <div class="nav-links flex gap-4">
            <a href="#">Download</a>
            <a href="#">Nitro</a>
            <a href="#">Discover</a>
            <a href="#">Safety</a>
            <a href="#">Support</a>
            <a href="#">Blog</a>
            <a href="#">Careers</a>
        </div>
        <div class="cta">
            <a href="#" class="bg-white text-black font-medium py-2 px-4 rounded-full">Accedi</a>
        </div>
    </nav>
</header>