.btn {
  display: inline-block;
  border-radius: 28px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  border: none;
  text-align: center;
  white-space: nowrap;
}

/* Types */
.btn-primary {
  background-color: #5865f2;
  color: white;
}

.btn-primary:hover {
  background-color: #7983f5;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: #23272a;
  color: white;
}

.btn-secondary:hover {
  background-color: #313338;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-default {
  background-color: white;
  color: #23272a;
}

.btn-default:hover {
  background-color: white;
  color: #5865f2;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Sizes */
.btn-small {
  padding: 7px 16px;
  font-size: 14px;
}

.btn-medium {
  padding: 10px 24px;
  font-size: 16px;
}

.btn-large {
  padding: 16px 32px;
  font-size: 20px;
}
